<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>WaveEdit for MicroMonsta</string>
	<key>CFBundleDisplayName</key>
	<string>WaveEditMiMo</string>
	<key>CFBundleIdentifier</key>
	<string>WaveEditMiMo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>WAVE</string>
	<key>CFBundleExecutable</key>
	<string>WaveEditMiMo</string>
	<key>CFBundleIconFile</key>
	<string>logo</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>YES</string>
</dict>
</plist>
